<div class="card" *ngIf="reservation && reservation.reservationId">
    <div class="xbtn">
        <div class="btn-group fl-right">
            <button pButton (click)="delete($event)">x</button>
        </div>
    </div>
<table class="container">
    <tr>
        <td>Reservation</td><td class="tdata">{{reservation.reservationId}}</td>
    </tr>
    <tr>
        <td>Checkin Date</td><td class="tdata">{{reservation.checkin}}</td>
    </tr>
    <tr>
        <td>Checkout Date</td><td class="tdata">{{reservation.checkout}}</td>
    </tr>
    <tr><!-- TODO CHANGE TO ROOMTYPE -->
        <td>Hotel Room</td><td class="tdata">{{reservation.roomnumber}}</td>
    </tr>
    <tr>
        <td>Name</td><td class="tdata">{{reservation.firstName}} {{reservation.lastName}}</td>
    </tr>
    <tr>
        <td>Email</td><td class="tdata">{{reservation.email}}</td>
    </tr>
    <tr>
        <td>Phone Number</td><td class="tdata">{{reservation.phonenumber}}</td>
    </tr>
</table>
</div>
