
<div id="users-list">
  <div class="title"><h2>View All Users</h2></div>
    <table id="users-table" class="table">
        <tr>
            <th class="value">User ID</th>
            <th class="value">First Name</th>
            <th class="value">Last Name</th>
            <th class="value">Phone Number</th>
            <th class="value"> Email</th>
        </tr>
        <tr *ngFor="let user of userList">
            <td class="value">{{user.id}}</td>
            <td class="value">{{user.firstName}}</td>
            <td class="value">{{user.lastName}}</td>
            <td class="value">{{user.phonenumber}}</td>
            <td class="value">{{user.email}}</td>
        </tr>
    </table>
</div>

<!--    id: number;
    firstName: string;
    lastName: string;
    number: string;
    email: string;
    <button (click)="postUser()" type="button" class="btn btn-warning float-end">Submit</button>
-->