<h2>Update Your Reservation Information</h2>
<div class="card" *ngIf="reservation && reservation.reservationId">
<table class="container"  >
    <tr>
        <td><label for="id">Reservation</label></td><td><input id="id" disabled [value]="reservation.reservationId" /></td>
    </tr>
    <tr>
        <td><label for="checkin">Checkin Date</label></td><td><input type="date" id="checkin" [(ngModel)]="reservation.checkin" [value]="reservation.checkin" /></td>
    </tr>
    <tr>
        <td><label for="checkout">Checkout Date</label></td><td><input type="date" id="checkout" [(ngModel)]="reservation.checkout" [value]="reservation.checkout" /></td>
    </tr>
    <tr><!-- TODO CHANGE TO ROOMTYPE -->
        <td><label for="roomnumber">Hotel Room</label></td><td><input id="roomnumber" [(ngModel)]="reservation.roomnumber" [value]="reservation.roomnumber" /></td>
    </tr>
    <tr>
        <td><label for="firstName">First Name</label></td><td><input id="firstName" [(ngModel)]="reservation.firstName" [value]="reservation.firstName" /></td>
    </tr>
    <tr>
        <td><label for="lastName">Last Name</label></td><td><input id="lastName" [(ngModel)]="reservation.lastName" [value]="reservation.lastName" /></td>
    </tr>
    <tr>
        <td>Email</td><td><input disabled id="email" [(ngModel)]="reservation.email" [value]="reservation.email" /></td>
    </tr>
    <tr>
        <td>Phone Number</td><td><input id="phonenumber" [value]="reservation.phonenumber" /></td>
    </tr>
</table>

<button class="btn" pButton (click)="update(); back();">Update</button><button class="btn" pButton (click)="back()">Cancel</button>

</div>
