<h2>Update Your Reservation Information</h2>
<div class="card" *ngIf="theReservation && theReservation.reservationId">
<table class="container"  >
    <tr>
        <td><label for="id">Reservation</label></td><td><input id="id" disabled [value]="theReservation.reservationId" /></td>
    </tr>
    <tr>
        <td><label for="checkin">Checkin Date</label></td><td><input type="date" id="checkin" [(ngModel)]="theReservation.checkin" [value]="theReservation.checkin" /></td>
    </tr>
    <tr>
        <td><label for="checkout">Checkout Date</label></td><td><input type="date" id="checkout" [(ngModel)]="theReservation.checkout" [value]="theReservation.checkout" /></td>
    </tr>
    <tr><!-- TODO CHANGE TO ROOMTYPE -->
        <td><label for="roomnumber">Hotel Room</label></td><td><input id="roomnumber" [(ngModel)]="theReservation.roomnumber" [value]="theReservation.roomnumber" /></td>
    </tr>
    <tr>
        <td><label for="firstName">First Name</label></td><td><input id="firstName" [(ngModel)]="theReservation.firstName" [value]="theReservation.firstName" /></td>
    </tr>
    <tr>
        <td><label for="lastName">Last Name</label></td><td><input id="lastName" [(ngModel)]="theReservation.lastName" [value]="theReservation.lastName" /></td>
    </tr>
    <tr>
        <td>Email</td><td><input disabled id="email" [(ngModel)]="theReservation.email" [value]="theReservation.email" /></td>
    </tr>
    <tr>
        <td>Phone Number</td><td><input id="phonenumber" [value]="theReservation.phonenumber" /></td>
    </tr>
</table>

<button (click)="update(theReservation); returnToView();">Update</button><button (click)="reset()">Cancel</button>

</div>
