
<div class="topbar p-shadow-2 p-p-2">

    <button pButton pRipple type="button" class="p-button-rounded" icon="pi pi-bars" [routerLink]="['/checkout']" label="checkout"></button>
    <button pButton type="button" [routerLink]="['/adduser']" label="Save User"></button>
    <button pButton type="button" [routerLink]="['/viewusers']" label="View All Users"></button>
    <button pButton type="button" [routerLink]="['/vuds']" label="Save Reservation"></button>
    <button pButton type="button" [routerLink]="['/reservations']" label="View Reservations"></button>

<!-- 
    <a [routerLink]="['/checkout']">Checkout</a> | 
    <a [routerLink]="['/adduser']">Save User</a> |
    <a [routerLink]="['/viewusers']">View All Users</a> |
    <a [routerLink]="['/vuds']">Save Reservation</a> | 
    <a [routerLink]="['/reservations']">View Reservations</a>
    <router-outlet></router-outlet>
--> <!-- Original Links -->

    <router-outlet></router-outlet>
</div>

