
<div>
    <img src="../assets/images/Outsiderlogo.png" alt="">
</div>

<div class="contents">
<div class="topbar p-shadow-2 p-p-2">
    
    <button pButton type="button" [routerLink]="['/search']" label="Room Search"></button>
    <button pButton pRipple type="button" class="p-button-rounded" icon="pi pi-bars" [routerLink]="['/checkout']" label="checkout"></button>
    <button pButton type="button" [routerLink]="['/adduser']" label="Create Account"></button>
    <button pButton type="button" [routerLink]="['/viewusers']" label="Admin"></button>
    <button pButton type="button" [routerLink]="['/vuds']" label="Book Room"></button>
    <button pButton type="button" [routerLink]="['/reservations']" label="View Reservations"></button>
    <router-outlet></router-outlet>
</div>
</div>

