
<div class="res-vud-form">
    <h1>View Existing Reservations</h1>

<div class="contents">
    <label class="floattext" for="reservation-id">Reservation Number: </label>
    <input class="input" type="text" id="reservation-id" #resid placeholder="Try 19" >
    <button class="btn" pButton (click)="showReservations(resid.value); resid.value='';">Submit</button>
    <button class="btn" pButton (click)="clearReservations(); resid.value='';" >Reset</button>
    
    <label class="floattext" for="email">Email: </label>
    <input class="input" type="email" id="email" #email placeholder="Try msjakeway@yahoo.com"/> 
    <button class="btn" pButton (click)="findUserAndShowReservations(email.value); email.value='';">Submit</button>
    <button class="btn" pButton (click)="clearReservations(); email.value='';" >Reset</button>
</div>

</div>