
<!-- User Table for Testing 
<div class="testing">
    <h1>Users Testing CORS Filter</h1>
    <table id="customers">
        <tr>
            <th>Userid</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phonenumber}}</td>
        </tr>
    </table>
</div>
-->

<div class="res-vud-form">
    <h1>View Existing Reservations</h1>
    <label for="reservation-id">Reservation Id: </label>
    <input (keyup.enter)="getReservationById(resid.value);resid.value='';" type="text" id="reservation-id" #resid placeholder="Try 19">
    <button routerLink="/existing-reservations" (click)="getReservationById(resid.value); resid.value='';clear();" >Submit</button>
    <button (click)="clear();resid.value='';">Reset</button>

    <label class="px-3" for="email">Email: </label>
    <input (keyup.enter)="getReservationsByEmail(email.value)" type="text" id="email" #email placeholder="Try msjakeway@yahoo.com">
    <button (click)="getReservationsByEmail(email.value); email.value='';clear();">Submit</button>
    <button (click)="clear();email.value='';">Reset</button>
</div>

<app-reservations-list *ngIf="!selectedReservation" [(selectedReservation)]="selectedReservation" [reservations]="resrvationInfoDto" [theReservation]="theReservation"></app-reservations-list>

<app-reservation-update (theReservation)="selectedReservation" [theReservation]="selectedReservation" *ngIf="selectedReservation" ></app-reservation-update>