
<h1>Reservations</h1>
<button pButton  (click)="back()">&larr; Back</button> 

<ng-container
  *ngIf="reservations && reservations.length > 0; then listReservations; else showError">
</ng-container>

<ng-template #listReservations>
<ng-container *ngFor="let theReservation of reservations">
        <app-reservation-card (deleteReservationEvent)="removeReservation($event)" (click)="openUpdate(theReservation.reservationId)" [reservation]="theReservation" ></app-reservation-card>
</ng-container>

</ng-template>
<ng-template #showError>
<p *ngIf="reservations">No current reservations exist.</p>
</ng-template>


<!--
<app-reservation-card (click)="updatedReservation(theReservation)" (selectedReservation)="selectedReservation" [theReservation]="theReservation"></app-reservation-card>

<ng-container *ngFor="let theReservation of reservations">

    <app-reservation-card (click)="updatedReservation(theReservation);" (selectedReservation)="selectedReservation" [theReservation]="theReservation"></app-reservation-card>

</ng-container>
-->
